/*'\n'不换行的问题*/
.content {
  white-space: pre-wrap;
}

/*html文件中纯数字或纯英文不会自动换行*/
.content {
  word-wrap: break-word;
  word-break: break-all;
}

/*
normal：这是默认值，它会忽略文本中的所有空白符和换行符，只有当文本达到容器的宽度限制时才会换行。
pre：保留文本中的所有空白符、制表符和换行符，遇到框的宽度约束时不会自动换行，只有在文本中存在换行符时才会换行。
nowrap：与 normal 类似，它会忽略文本中的所有空白符和换行符，只有在文本中存在 <br> 元素时才会换行。
pre-wrap：保留文本中的所有空白符、制表符和换行符，当文本存在或遇到框的宽度约束时，文本都会换行。
pre-line：它会忽略文本中的空白符，当文本存在或遇到框的宽度约束时，文本都会换行。
*/
