@keyframes gradientAnimation {
  from {
    transform: rotate(0deg) scale(1.5);
  }

  to {
    transform: rotate(360deg) scale(1.5);
  }
}

@keyframes bgMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes spinner {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}